@import "../../../node_modules/@fortawesome/fontawesome-pro/css/fontawesome.css";
@import "../../../node_modules/@fortawesome/fontawesome-pro/css/regular.css";
@import "../../../node_modules/@fortawesome/fontawesome-pro/css/brands.css";

html .overflow-x-auto::-webkit-scrollbar,
html .overflow-y-auto::-webkit-scrollbar,
html .overflow-auto::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

html .overflow-x-auto::-webkit-scrollbar-track,
html .overflow-y-auto::-webkit-scrollbar-track,
html .overflow-auto::-webkit-scrollbar-track {
  background: #d3d6dc;
}

html .overflow-x-auto::-webkit-scrollbar-thumb,
html .overflow-y-auto::-webkit-scrollbar-thumb,
html .overflow-auto::-webkit-scrollbar-thumb {
  background: #b6b7ba;
}

@media (prefers-color-scheme: dark) {
    html:not(.light) input[type='search']::-webkit-search-cancel-button {
      filter: grayscale(1) brightness(3);
    }

    html:not(.light) select {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    }

    html:not(.light) .overflow-x-auto::-webkit-scrollbar-track,
    html:not(.light) .overflow-y-auto::-webkit-scrollbar-track,
    html:not(.light) .overflow-auto::-webkit-scrollbar-track {
        background: #1e293b;
    }

    html:not(.light) .overflow-x-auto::-webkit-scrollbar-thumb,
    html:not(.light) .overflow-y-auto::-webkit-scrollbar-thumb,
    html:not(.light) .overflow-auto::-webkit-scrollbar-thumb {
        background: #374151;
    }
}

html select,
html.light select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
}

html.dark input[type='search']::-webkit-search-cancel-button {
  filter: grayscale(1) brightness(3);
}

html.dark select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
}

html.dark .overflow-x-auto::-webkit-scrollbar-track,
html.dark .overflow-y-auto::-webkit-scrollbar-track,
html.dark .overflow-auto::-webkit-scrollbar-track {
    background: #1e293b;
}

html.dark .overflow-x-auto::-webkit-scrollbar-thumb,
html.dark .overflow-y-auto::-webkit-scrollbar-thumb,
html.dark .overflow-auto::-webkit-scrollbar-thumb {
    background: #374151;
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 300;
  font-display: swap;
  src: url("../webfonts/Inter-Light.woff2?v=3.13") format("woff2"),
       url("../webfonts/Inter-Light.woff?v=3.13") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 300;
  font-display: swap;
  src: url("../webfonts/Inter-LightItalic.woff2?v=3.13") format("woff2"),
       url("../webfonts/Inter-LightItalic.woff?v=3.13") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("../webfonts/Inter-Regular.woff2?v=3.13") format("woff2"),
       url("../webfonts/Inter-Regular.woff?v=3.13") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url("../webfonts/Inter-Italic.woff2?v=3.13") format("woff2"),
       url("../webfonts/Inter-Italic.woff?v=3.13") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("../webfonts/Inter-Medium.woff2?v=3.13") format("woff2"),
       url("../webfonts/Inter-Medium.woff?v=3.13") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 500;
  font-display: swap;
  src: url("../webfonts/Inter-MediumItalic.woff2?v=3.13") format("woff2"),
       url("../webfonts/Inter-MediumItalic.woff?v=3.13") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src: url("../webfonts/Inter-SemiBold.woff2?v=3.13") format("woff2"),
       url("../webfonts/Inter-SemiBold.woff?v=3.13") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 600;
  font-display: swap;
  src: url("../webfonts/Inter-SemiBoldItalic.woff2?v=3.13") format("woff2"),
       url("../webfonts/Inter-SemiBoldItalic.woff?v=3.13") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("../webfonts/Inter-Bold.woff2?v=3.13") format("woff2"),
       url("../webfonts/Inter-Bold.woff?v=3.13") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 700;
  font-display: swap;
  src: url("../webfonts/Inter-BoldItalic.woff2?v=3.13") format("woff2"),
       url("../webfonts/Inter-BoldItalic.woff?v=3.13") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 800;
  font-display: swap;
  src: url("../webfonts/Inter-ExtraBold.woff2?v=3.13") format("woff2"),
       url("../webfonts/Inter-ExtraBold.woff?v=3.13") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 800;
  font-display: swap;
  src: url("../webfonts/Inter-ExtraBoldItalic.woff2?v=3.13") format("woff2"),
       url("../webfonts/Inter-ExtraBoldItalic.woff?v=3.13") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("../webfonts/Inter-Black.woff2?v=3.13") format("woff2"),
       url("../webfonts/Inter-Black.woff?v=3.13") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 900;
  font-display: swap;
  src: url("../webfonts/Inter-BlackItalic.woff2?v=3.13") format("woff2"),
       url("../webfonts/Inter-BlackItalic.woff?v=3.13") format("woff");
}
